*.properties
gradlew
*.bat
.gitignore.swp
gradle/
.idea/
app/build
app/libs/
app/*.iml
app/*.gradle
app/*.pro
app/src/androidTest/
app/src/test/
*.iml
.gradle/
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
